<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>Random Generators</title>
  <meta name="description" content="Random generators with crowdsourced data">
  <meta property="og:description" content="Random generators with crowdsourced data">
  <style>
  body {
    background: #111111;
    color: #ffffff;
    margin: 0;
    font-family: sans-serif;
    text-align: center;
  }
  #main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
    text-align: center;
    margin: 0 auto;
    background: #222222;
    line-height: 200%;
    border: 2px solid #442222;
    border-radius: 4px;
    box-shadow: 0 0 16px #442222;
  }
  p {
    margin: 1em auto;
    padding: 0 1em;
    max-width: 700px;
  }
  a {
    color: #fff;
    background: #ff4444;
    padding: 5px;
    text-decoration: none;
  }
  @media (orientation: landscape) {
  	#main {
  		width: 50%;
  	}
  }
  @media (orientation: portrait) {
    	#main {
    	  width: 75%;
    	}
   }
  </style>
</head>
<body>
  <h1>Generators</h1>
  <div id="main">
  <% categories.forEach(category => { %>
    <div><a href="/<%- category.name %><%= urlParams.replace(/^&/, '?') %>"><%- category.name %></a></div>
  <% }); %>
  </div>
</body>
</html>

